@media screen and (max-width: 726px) {
    .right ul li {
        padding: 10px 10px;
    }

    .left h1 {
        margin-left: 0;
        transition: 200ms;
        font-size: 27px;
    }

    .first_content .for-pc {
        display: none;
    }

    .first_content {
        padding: 10px;
    }

    .first_section {
        height: 600px;

    }

    .video_content h2 {
        font-size: 20px;
    }

    .video_content p {
        font-size: 13px;
    }
}

@media screen and (min-width: 550px) and (max-width: 1402px) {
    .bar {
        display: none;
    }

    #music_image2 {
        display: none;
    }
}


@media screen and (max-width: 820px) {
    #music_image {
        width: 500px;
        top: 200px;
        margin-top: -220px;
    }

    .about-stream {
        font-size: 13px;
    }

    .orange-music {
        padding: 10px;
    }

    #red-btn {
        font-size: 13px;
        padding: 10px 10px;
    }

    .music_section .about-stream {
        display: none;
    }

    .third_container {
        padding-top: 250px;
    }

    .fifth_section {
        height: 200px;
    }

    .fifth-container {
        padding: 10px;
    }

    .gift_image,
    .gift_content {
        padding: 10px;
    }

    .gift_image img {
        width: 250px;
    }

    .gift_content .gift-content1 {
        display: none;
    }
}

@media screen and (max-width:1082px) {
    .laptop {
        width: 550px;
    }
}

@media screen and (max-width: 549px) {
    .right {
        display: none;
    }

    .bar {
        padding: 10px;
        color: white;
    }

    .left h1 {
        padding: 0;
        font-size: 23px;
    }

    .orange-music {
        font-size: 13px;
    }

    #music_image {
        display: none;
    }

    #music_image2 {
        position: relative;
        top: 250px;
        margin-top: -250px;
        height: 400px;
        z-index: 8;
    }

    .laptop {
        width: 300px;
    }

    .third_container h2 {
        font-size: 20px;
    }

    .third_container p {
        font-size: 13px;
    }

    .blue-btn {
        padding: 10px 10px;
    }

    .video_content h2 {
        font-size: 17px;
    }

    .video_content p {
        display: none;
    }

    .fifth_section {
        height: 430px;
    }

    .fifth-container {
        display: flex;
        flex-direction: column;
    }

    .gift_content,
    .gift_image {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        gap: 20px;
    }

    .footer2 {
        font-size: 13px;
    }
}